<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">UN Web Tracing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/authenticate" *ngIf="!loggedIn()">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout()" *ngIf="loggedIn()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main role="main" class="container-fluid">
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="container">
    &#169; SSP Innovations 2018
  </div>
</footer>